# Production Environment Variables
# Copier ce fichier en .env.prod et remplir les valeurs

# Database
DB_PASSWORD=CHANGEZ_MOI_EN_PRODUCTION

# API
NEXT_PUBLIC_API_URL=http://[IP-SERVEUR]:3002
CORS_ORIGIN=http://[IP-SERVEUR]:3000

# Application
NODE_ENV=production
PORT=3002

